.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  width: 1100px;
  height: 292.5px;
  padding: 92px 50px;
}
.header__links-list {
  display: flex;
  justify-content: space-between;
  width: 391.48px;
  padding-top: 44px;
}

.header__links-list-item {
  border: 1px;
  font-size: 18px;
  list-style: circle;
  line-height: 21.13px;
  color: rgba(0, 0, 0, 1);
}
.header__link_active {
  text-decoration: none;
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: min-content;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: grid;
  justify-self: end;
  width: 240.52px;
  height: 24px;
  padding-top: 15px;
  font-size: 18px;
}
.header__address a {
  text-decoration: none;
}

.line {
  border-bottom: 1.5px solid;
}

.overlay {
  width: 1099px;
  height: 757px;
  opacity: 60%;
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 757px;
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 1000px;
  height: 355px;
  padding-bottom: 237px;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.aligned-text {
  display: block;
  line-height: 115%;
  padding-top: 165px;
  padding-left: 50px;
  letter-spacing: 0.3em;
}
.aligned-text_center {
  text-align: center;
  line-height: 100%;
  padding-left: 336px;
  letter-spacing: 0.3em;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.aligned-text_right {
  text-align: right;
  line-height: 100%;
  letter-spacing: 0.6em;
  padding-left: 633px;
}

.letter-spacing-extended_ {
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 290px;
  padding-left: 78px;
  position: relative;
  z-index: 1;
}
.cover__description-text {
  display: block;
  width: 637px;
  height: 28px;
  margin-top: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text__b{
    letter-spacing: 0.1em;
}
.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
  margin-right: 48.5px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  padding: 179px 24px 146px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 27px;
  padding-left: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  height: 563px;
}
.overlay__two {
  width: 334px;
  height: 563px;
  opacity: 60%;
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
}
.card {
  color: #fff;
  height: 563px;
}
.card-link {
  text-decoration: none;
}

.card__title {
  display: block;
  position: relative;
  width: 254px;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  inset: 51px 40px 430px 40px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  display: block;
  width: 254px;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  inset: 50px 40px 48px;
  word-break: inherit;
  color: #fff;
}

.card__text__one {
  padding-top: 248px;
}

.card__text__three {
  padding-top: 90px;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/ cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}

.lots__look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  padding-top: 30px;
  padding-left: 40px;
}

.about {
  display: flex;
  justify-content: flex-end;
  width: 1052px;
  height: 595px;
  padding-top: 10px;
}

.about__column {
  display: flex;
  flex-direction: column;
}
.about__logo {
  display: flex;
  justify-content: flex-start;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  margin-top: 29px;
}

.about__logo-image {
  margin: 62.25px 47.56px 62.2px 50.89px;
  width: 148px;
}

.about__title {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-top: 124px;
  padding-left: 80px;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding-top: 115px;
  margin-left: 49px;
  white-space: pre-line;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 98px;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
}

.footer__address {
  display: flex;
  justify-content: center;
}

.footer__menu-list-item {
  list-style: none;
  text-align: center;
}
.footer__menu-link_active a {
  text-decoration: none;
}

.footer__menu-link {
  padding-left: 185px;
}

.footer__social-icon {
  list-style: none;
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 80px;
  margin-left: 180px;
}

.footer__social-list-item {
  display: block;
  list-style: none;
}
