.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  width: 1100px;
  padding: 92px 50px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  width: 391.48px;
  padding-top: 44px;
}

.header__link {
  border: 1px;
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
  line-height: 21.13px;
  color: rgba(0, 0, 0, 1);
}
.header__link_active {
  text-decoration: none;
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: min-content;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  all: unset;
  justify-self: end;
  width: 240.52px;
  padding-top: 5px;
  font-size: 18px;
  line-height: 140%;
}
.header__address a {
  text-decoration: none;
}

.line {
  border-bottom: 1px solid;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  width: 1100px;
  min-height: 757px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.aligned-text {
  display: block;
  text-align: left;
  line-height: 115%;
  padding-top: 165px;
  white-space:break-spaces;
  letter-spacing: 0.28em;
}
.aligned-text_center {
  display: block;
  text-align: center;
  padding-top: 18px;
  line-height: 1;
  letter-spacing: 30px;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 1;
  padding-top: 20px;
}

.letter-spacing-extended_ {
  letter-spacing: 0.251em;
}
.no-letter-spacing {
  letter-spacing: 0.523em;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 125px;
  padding-left: 78px;
  position: relative;
  z-index: 1;
}
.cover__description-text {
  display: block;
  margin-top: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.09em;
  word-spacing: 6px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  font-weight: 500;
  margin-right: 48.5px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  padding: 179px 24px 146px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 27px;
  padding-left: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
  gap: 27px 25px;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 563px;
}
.overlay-card {
  width: 100%;
  height: 100%;
  opacity: 60%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
}
.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  color: #fff;
  height: 100%;
}
.card-link {
  text-decoration: none;
}

.card__title {
  display: block;
  position: relative;
  width: 254px;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  inset: 51px 40px 430px 40px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  display: block;
  width: 254px;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  inset: 0px 40px 48px;
  padding-bottom: 49px;
  word-break: inherit;
  color: #fff;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/ cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}

.lots__look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  padding-top: 30px;
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 72px;
  padding-top: 14px;
  justify-content: center;
  width: 1052px;
}

.about__column {
  justify-content: center;
  align-items: center;
}
.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 60%;
  background: black;
  margin-left: 96px;
  margin-top: 22px;
}

.about__logo-image {
  margin: 62.25px 49.59px 65.2px 45.9px;
  width: 148px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  padding-top: 124px;
  text-transform: uppercase;
  color: #000;
}
.about__text {
  width: 693px;
  padding-top: 97px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
}

.about__text_last {
  padding-top: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-top: 152px;
  margin-left: 50px;
  margin-right: 49px;
  font-size: 18px;
  padding-bottom: 88px;
}

.footer__address {
  all: unset;
  justify-self: end;
  line-height: 135%;
  padding-top: 30px;
  padding-left: 4px;
}
.footer__address a {
  text-decoration: none;
}

.footer__menu-list-item {
  padding-left: 30px;
  list-style: none;
  text-align: center;
}
.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  padding-left: 185px;
}

.footer__social-icon {
  list-style: none;
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-left: 180px;
  margin-bottom: 21px;
}

.footer__social-list-item {
  display: block;
  list-style: none;
}
